# Data Types and Variables

## Numbers

In [ ]:
print(10)
print(-3000)

# Print variable angka
num = 123456789
print(num)
num = -16000
print(num)

# Print Variable Desimals
print(1.00000000005)
print(-85.6701)

10
-3000
123456789
-16000
1.00000000005
-85.6701

## Strings

In [ ]:
# Pengenalan Python String
print("Harry Potter!")

# Print text
got = 'Game of Thrones...'
print(got)
print("$")

# Print text Kosong
empty = ""
print(empty)

# Print paragraf
multiple_lines = '''Triple quotes allows
multi-line string.'''
print(multiple_lines)

Harry Potter!
Game of Thrones...
$

Triple quotes allows
multi-line string.

## Boolean

In [ ]:
#Print boolean
print(True)

#Print Bolean jika dijadikan variable
f_bool = False
print(f_bool)

True
False

# Operators

## Arithmetic Operators

In [ ]:
print(10 + 5) 
print(10 - 5)
print(40 * 10)
print(40 / 10)
print(43 // 10) #dividen (tanpa koma)
print(10 % 2) #Modulus (sisa Bagi)
print(10 - 3 * 2)
print((10 - 3) * 2) #Pengerjaan didahululan dalam kurung

15
5
400
4.0
4
0
4
14

## Comparison Operators

In [ ]:
#Perbandingan, dalam case ini akan dikembalikan benar/salah alias boolean
num1 = 5
num2 = 10
num3 = 10
list1 = [6,7,8]
list2 = [6,7,8]

print(num2 > num1)
print(num1 > num2)

print(num2 == num3)
print(num3 != num1)

print(3 + 10 == 5 + 5)
print(3 <= 2)

print(num2 is not num3)
print(list1 is list2)

True
False
True
True
False
False
False
False

## Assignment Operators

In [ ]:
num = 10
print(num)

num += 5 # num = 5 + num
print(num)

num -= 5 # num = 5 - num
print(num)

num *= 2 # num = 5 * num
print(num)

num /= 2 # num = 5 / num
print(num)

num **= 2 # num = 5 ^ num (pangkat0=)
print(num)

10
15
10
20
10.0
100.0

## Logical Operators

In [ ]:
my_bool = True or False
print(my_bool)

my_bool = True and False
print(my_bool)

my_bool = False
print(not my_bool)

True
False
True

# Function

## Function Creation

In [ ]:
def minimum(first, second):
  if(first < second):
    return first
  return second

num1 = 10
num2 = 20

result = minimum(num1, num2)
print(result)

10

## Lambda

In [ ]:
triple = lambda num : num * 3

print(triple(10))

30

## Function as argument

In [ ]:
def add(n1, n2):
  return n1 + n2

def subtract(n1, n2):
  return n1 - n2

def multiply(n1, n2):
  return n1 * n2

def divide(n1, n2):
  return n1 / n2

def calculator(operation, n1, n2):
  return operation(n1, n2)

result = calculator(multiply, 10, 20)
print(result)
print(calculator(add, 10, 20))

200
30

# Data Structures

## List

In [ ]:
jon_snow = ["Jon Snow", "Winterfell", 30]
print(jon_snow)

# Indexing
print(jon_snow[0])

# Length
print(len(jon_snow))

# Lists are mutable
jon_snow[2] += 3
print(jon_snow[2])

['Jon Snow', 'Winterfell', 30]
Jon Snow
3
33

### Common List Operations

In [ ]:
# Addition
num_list = []
num_list.append(1)
num_list.append(2)
num_list.append(3)
print(num_list)

# Removal
last_num = num_list.pop()
print(last_num)
print(num_list)

# Slicing
print(num_list[0:])

# Index Search
cities = ["London", "Paris", "Los Angeles", "Beirut"]
print(cities.index("Los Angeles"))

cities = ["London", "Paris", "Los Angeles", "Beirut"]
print("London" in cities)
print("Moscow" not in cities)

# Sorting
num_list = [20, 40, 10, 50.4, 30, 100, 5]
num_list.sort()
print(num_list)

[1, 2, 3]
3
[1, 2]
[1, 2]
2
True
True
[5, 10, 20, 30, 40, 50.4, 100]

### List Comprehensions

In [ ]:
nums = [10, 20, 30, 40, 50]
nums_double = []


for n in nums:
  nums_double.append(n * 2)

nums_triple = [n * 3 for n in nums]

print(nums)
print(nums_double)
print(nums_triple)

[10, 20, 30, 40, 50]
[20, 40, 60, 80, 100]
[30, 60, 90, 120, 150]

## Tuple

In [ ]:
car = ("Ford", "Raptor", 2019, "Red")
print(car)

# Length
print(len(car))

# Indexing
print(car[1])

#Slicing
print(car[2:])

# Merging
hero1 = ("Batman", "Bruce Keyne")
hero2 = ("Wonder Woman", "Diana Prince")

plus_tuples = hero1 + hero2
print(plus_tuples)

nested_tuples = (hero1, hero2)
print(nested_tuples)

# Search
cities = ["London", "Paris", "Los Angeles", "Tokyo"]
print("Moscow" in cities)
print(cities.index("Tokyo"))

('Ford', 'Raptor', 2019, 'Red')
4
Raptor
(2019, 'Red')
('Batman', 'Bruce Keyne', 'Wonder Woman', 'Diana Prince')
(('Batman', 'Bruce Keyne'), ('Wonder Woman', 'Diana Prince'))
False
3

## Dictionary

In [ ]:
empty_dict = {}
print(empty_dict)

phone_book = {"Batman": 468426,
              "Cersei": 237734,
              "Ghostbusters": 44678}
print(phone_book)

print(phone_book["Cersei"])
print(phone_book.get("Ghostbusters"))

{}
{'Batman': 468426, 'Cersei': 237734, 'Ghostbusters': 44678}
237734
44678

### Common dict operations

In [ ]:
phone_book = {"Batman": 468426,
              "Cersei": 237734,
              "Ghostbusters": 44678}
print(phone_book)

# Addition
phone_book["Godzilla"] = 46394
print(phone_book)

# Removal
del phone_book["Batman"]
print(phone_book)

# Length
print(len(phone_book))

# Check existence
print("Batman" in phone_book)
print("Godzilla" in phone_book)

# Copy content
second_phone_book = {"Catwoman": 67423, "Jaime": 237734, "Godzilla": 37623}

# Add second_phone_book to phone_book
phone_book.update(second_phone_book)
print(phone_book)

{'Batman': 468426, 'Cersei': 237734, 'Ghostbusters': 44678}
{'Batman': 468426, 'Cersei': 237734, 'Ghostbusters': 44678, 'Godzilla': 46394}
{'Cersei': 237734, 'Ghostbusters': 44678, 'Godzilla': 46394}
3
False
True
{'Cersei': 237734, 'Ghostbusters': 44678, 'Godzilla': 37623, 'Catwoman': 67423, 'Jaime': 237734}

## Set

In [ ]:
random_set = {"bitlabs", 1408, 3.142, 
              (True, False)}
print(random_set)

# Length
print(len(random_set))

# Addition
random_set.add(1)
print(random_set)

random_set.update([2, 3, 4, 5, 6])
print(random_set)

# Removal
random_set.discard(1408)
print(random_set)

random_set.remove((True, False))
print(random_set)

{1408, (True, False), 3.142, 'bitlabs'}
4
{1408, 1, 3.142, 'bitlabs', (True, False)}
{1408, 1, 2, 3.142, 3, 4, 5, 6, 'bitlabs', (True, False)}
{1, 2, 3.142, 3, 4, 5, 6, 'bitlabs', (True, False)}
{1, 2, 3.142, 3, 4, 5, 6, 'bitlabs'}

### Common Set Operations

In [ ]:
# Union
set_A = {1, 2, 3, 4}
set_B = {'a', 'b', 'c', 'd'}

print(set_A | set_B)
print(set_A.union(set_B))

# Intersection
set_A = {1, 2, 3, 4}
set_B = {2, 8, 4, 16}

print(set_A & set_B)
print(set_A.intersection(set_B))

# Difference
print(set_A - set_B)
print(set_A.difference(set_B))

print(set_B - set_A)
print(set_B.difference(set_A))

{1, 2, 3, 4, 'c', 'a', 'b', 'd'}
{1, 2, 3, 4, 'c', 'a', 'b', 'd'}
{2, 4}
{2, 4}
{1, 3}
{1, 3}
{8, 16}
{8, 16}

# Conditional Statements

## If

In [ ]:
num = 5

if (num == 5):
  print("The number is equal to 5")

if num > 5:
  print("The number is greater than 5")

The number is equal to 5

## If-Else

In [ ]:
num = 60

if num <= 50:
  print("The number is less than or equal to 50")
else: 
  print("The number is greater than 50")

The number is greater than 50

## If-Elif-Else

In [ ]:
light = "Red"

if light == "Green":
  print("Go")

elif light == "Yellow":
  print("Caution")

elif light == "Red":
  print("Stop")

else:
  print("Incorrect light signal")

Stop

# Loops

In [ ]:
for i in range(1, 11):
  if i % 2 == 0:
    print(i, " is even")
  else:
    print(i, " is odd")

1  is odd
2  is even
3  is odd
4  is even
5  is odd
6  is even
7  is odd
8  is even
9  is odd
10  is even

## Nested for loop

In [ ]:
n = 50
num_list = [10, 4, 23, 6, 18, 27, 47]

for n1 in num_list:
  for n2 in num_list:
    if(n1 + n2 == n):
      print(n1, n2)

23 27
27 23

## Break

In [ ]:
n = 50
num_list = [10, 4, 23, 6, 18, 27, 47]
found = False

for n1 in num_list:
  for n2 in num_list:
    if(n1 + n2 == n):
      found = True
      break
    
    if found:
      print(n1, n2)
      break

6 10
18 10
27 10
47 10

## Continue

In [ ]:
num_list = list(range(0, 10))

for num in num_list:
  if num == 3 or num == 6 or num == 8:
    continue
  print(num)

0
1
2
4
5
7
9

## While Loop

In [ ]:
n = 2
power = 0
val = n
while val < 1000:
  power += 1
  val *= n
print(power)

9

In [ ]:
lst = [0,0,0,1]

# any: check if any elements it True
print(any(lst))

# all: check if all of elements are True
print(all(lst))

True
False

In [ ]:
# enumerate
my_string = 'abc'
for pos, letter in enumerate(my_string):
  print(pos, letter)

# eval: execute command as tring
var = 10
source = 'var * 2'
print(eval(source))

0 a
1 b
2 c
20

In [ ]:
# find
random_string = "This is a string"
print(random_string.find("is"))
print(random_string.find("is", 9, 13))

# replace
a_string = "Welcome to Bitlabs!"
now_string = a_string.replace("Welcome to", "Greetings from")
print(a_string)
print(now_string)

# upper/lowecase
print("UpperCase".upper())
print("LowerCase".lower())

# joining list
llist = ['a', 'b', 'c']
print('>>'.join(llist))
print('<<'.join(llist))
print(', '.join(llist))

#formatting text
string1 = "Learn Python {version} at {cname}".format(version = 3, cname = "Bitlabs")
string2 = "Learn Python {0} at {1}".format(3, "Bitlabs")
string3 = "Learn Python {} at {}".format(3, "Bitlabs")

print(string1)
print(string2)
print(string3)

2
-1
Welcome to Bitlabs!
Greetings from Bitlabs!
UPPERCASE
lowercase
a>>b>>c
a<<b<<c
a, b, c
Learn Python 3 at Bitlabs
Learn Python 3 at Bitlabs
Learn Python 3 at Bitlabs

In [ ]:
# filter
def less_than_ten(x):
  return x < 10

my_list = [1, 2, 3, 10, 11, 12]
for item in filter(less_than_ten, my_list):
  print(item)

1
2
3

In [ ]:
# map
def doubler(x):
  return x * 2

my_list = [1, 2, 3, 4, 5]
for item in map(doubler, my_list):
  print(item)

2
4
6
8
10

In [ ]:
# zip
keys = ['x', 'y', 'z']
values = [5, 6, 7]
print(zip(keys, values))
print(list(zip(keys, values)))

<zip object at 0x7fcf50cab460>
[('x', 5), ('y', 6), ('z', 7)]

# All About Imports

In [ ]:
# Regular imports
import os, sys, time
import sys as system
import urllib.error

In [ ]:
# Using Forms
from functools import lru_cache
# from . import subpackage1
# from . import subpackage2